@tailwind base;

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #4DD637 #D9D9D9;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}


*::-webkit-scrollbar-thumb {
    background-color: #4DD637;
    border-radius: 8px;
    border: 3px solid #4DD637;
}

@tailwind components;

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

@tailwind utilities;